.produto-moda{
    background-color: #BB86FC;
}

.descricao-produto{
    background-color: #424250;
}

.produto-casa{
    background-color: #00C4B4;
}

.paragrafo{
    color: white;]
    margin: 30px 15px;
    padding: 30px;
}

th{
    padding: 5px;
}

td{
    padding: 10px;;
}

